* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --primary-bg: #F5F7FA;
    --secondary-bg: #00b3ff;
    --third-bg: #121223;
    --fourth-bg: #eefa0a;
    --div-bg: #49d4ff;
}

body {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #F3F5DF, white, #D5F7F6);
}

nav {
    position: fixed;
    top: 0;
    padding: 30px;
    left: 0;
    background-color: var(--primary-bg);
    width: 100%;
    z-index: 100;
    height: 80px;
    border-bottom: 1px solid #12122331;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

nav section {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    z-index: 100;
    align-items: center;
    justify-content: space-between;

}

nav section img {
    width: 130px;
    position: relative;
    z-index: 99;
    max-width: 120px;
}

.Menu-logo img {
    width: 30px;
    max-width: 80px;
}


.Animation {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    opacity: 1;
    animation: Animation-end 0.6s ease-in-out forwards;
    animation-delay: 1.8s;
    left: 0;
    flex-direction: column;
    width: 100%;
    z-index: 120;
    height: 100%;
    background-color: var(--primary-bg);
}

.Animation img {
    mix-blend-mode: multiply;
    animation: Photo-intro-animation 1.2s ease-in-out forwards;

    width: 25px;
}

@keyframes Photo-intro-animation {
    0% {
        transform: translateX(200px);
        filter: blur(2px);
        opacity: 0;
    }

    80% {
        transform: translateX(0);
        opacity: 1;
        filter: blur(0);
    }

    85% {
        filter: blur(1px);
    }

    100% {
        transform: scale(1.2);
        filter: blur(0);
    }
}

@keyframes Animation-end {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}


.Menu {
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 88;
    gap: 20px;
    height: 100%;
    background-color: var(--primary-bg);
}

.Menu.active {
    display: flex;
    animation: Menu-animation 0.8s ease-in-out forwards;
}

.Menu a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--third-bg);
    transition: 0.6s ease-in-out;
}

.Menu a:active {
    color: var(--secondary-bg);
}

.Links-desktop {
    display: none;
    gap: 20px;

}

.Links-desktop a {
    color: var(--third-bg);
    transition: 0.6s ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Links-desktop a:active {
    transform: translateY(-5px);
}

.reveal {
    opacity: 0;
    transform: translateY(40px) scale(0.98);

    transition: 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
}

.primary-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin-top: 90px;
    gap: 25px;
    flex-direction: column;
}

.primary-section span {
    color: var(--secondary-bg);
    border-bottom: 2px solid #00b3ff43;
}

.primary-section h1 {
    font-size: 30px;
}

.primary-section img {
    width: 90%;
}

@keyframes Menu-animation {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.secondary-section {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    flex-direction: column;
}

.secondary-section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.secondary-section img {
    width: 90%;
}

.secondary-section h4 {
    color: #707070;
}

.secondary-section-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    gap: 25px;
    flex-direction: column;
}

.secondary-section-two div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.secondary-section-two img {
    width: 90%;
}

.secondary-section-two h4 {
    color: #707070;
}

.text-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    gap: 25px;
}

.text-section span {
    color: var(--secondary-bg);
}

.card-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #ffffff82;
    gap: 25px;
    border-radius: 30px;
    height: auto;
    padding: 20px;
    flex-direction: column;
}

.card-section a {
    background-color: var(--fourth-bg);
    width: 150px;
    text-align: center;
    transition: 0.3s ease-in-out;
    padding: 10px;
    border-radius: 15px;
    color: black;
}

.card-section a:active {
    transform: scale(0.9);
    background-color: black;
    color: white;
}

.card-section img {
    width: 90%;
}

.card-section div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    flex-direction: column;
}

@media (min-width:768px) {
    .Menu-logo {
        display: none;
    }

    .card-section img {
        width: 40%;
    }

    .card-section {
        flex-direction: row;
    }

    .secondary-section h4 {
        color: #707070;

    }

    .text-section h4 {
        width: 50%;
    }

    .primary-section h1 {
        width: 70%;
        font-size: 40px;
    }

    .secondary-section {
        flex-direction: row;
    }

    .secondary-section h1 {
        font-size: 40px;
        width: 80%;
    }

    .secondary-section p {
        width: 60%;
    }

    .secondary-section img {
        width: 50%;
    }

    .secondary-section-two h4 {
        color: #707070;

    }

    .secondary-section-two {
        flex-direction: row;
    }

    .secondary-section-two h1 {
        font-size: 40px;
        width: 80%;
    }

    .secondary-section-two p {
        width: 60%;
    }

    .secondary-section-two img {
        width: 50%;
    }

    .Links-desktop {
        display: flex;
    }

    .primary-section img {
        width: 60%;
    }

}
