* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --primary-bg: #F5F7FA;
    --secondary-bg: #00b3ff;
    --third-bg: #121223;
    --fourth-bg: #ebee0b;
    --fifth-bg: #e2c507;
    --sixth-bg: #0083cf;
    --seventh-bg: #f1f0f094;
}

body {
    background-color: var(--primary-bg);
}

nav {
    position: fixed;
    top: 0;
    padding: 30px;
    left: 0;
    background-color: var(--primary-bg);
    width: 100%;
    z-index: 100;
    height: 80px;
    border-bottom: 1px solid #12122331;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

nav section {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    z-index: 100;
    align-items: center;
    justify-content: space-between;

}

nav section img {
    width: 100px;
    position: relative;
    z-index: 99;
    max-width: 120px;
}

.Menu-logo img {
    width: 20px;
    max-width: 30px;
}

.primary-section {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    margin-top: 90px;
    gap: 20px;
    padding: 20px;
}

.primary-section img {
    width: 100%;
    height: auto;
}

.Menu {
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 88;
    gap: 20px;
    height: 100%;
    background-color: var(--primary-bg);
}

.Menu.active {
    display: flex;
    animation: Menu-animation 0.6s ease-in-out forwards;
}

.Menu a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--third-bg);
    transition: 0.6s ease-in-out;
}

.Menu a:active {
    color: var(--secondary-bg);
}

.Links-desktop {
    display: none;
    gap: 20px;

}

.Links-desktop a {
    color: var(--third-bg);
    transition: 0.6s ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Links-desktop a:active {
    transform: translateY(-5px);
}

@keyframes Menu-animation {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.texts-primary-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}

.primary-section p,
.primary-section h4 {
    color: rgb(63, 63, 63);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.primary-section h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;

}

.primary-section a {
    display: inline-block;
    width: 170px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    text-align: center;
}

.Buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Button-primary {
    background-color: var(--fourth-bg);
    color: var(--third-bg);
    border: 1.7px solid var(--fifth-bg);
    transition: 0.4s ease-in-out;
}

.Button-primary:active {
    background-color: var(--secondary-bg);
    color: var(--primary-bg);
    border: 1.7px solid var(--sixth-bg);
}

.Button-secondary {
    background-color: var(--third-bg);
    color: var(--primary-bg);

    transition: 0.4s ease-in-out;
}

.Button-secondary:active {
    background-color: var(--secondary-bg);
}

.Previous-content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Previous-content-section div {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.secondary-section {
    background-color: var(--secondary-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.secondary-section span {
    color: var(--fourth-bg);
}

.secondary-section a {
    display: inline-block;
    width: 170px;

    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    text-align: center;
    background-color: var(--third-bg);
    color: var(--primary-bg);

    transition: 0.4s ease-in-out;
}

.secondary-section a:active {
    background-color: var(--secondary-bg);
    border: 1.5px solid var(--sixth-bg);
}

.secondary-section div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.7s ease-in-out;
    gap: 20px;
}

.secondary-section div:active {
    transform: translateY(-3px);
}

.reasons-section {
    display: flex;
    padding: 20px;
    gap: 20px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Cards img {
    width: 100%;
    height: auto;
}

.Cards {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Buttons-reasons {

    display: inline-block;
    width: 170px;

    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    text-align: center;
    background-color: var(--third-bg);
    color: var(--primary-bg);

    margin: 0 auto;
    transition: 0.4s ease-in-out;

}

.Cards span {
    color: var(--secondary-bg);
}

.Cards p {
    width: 50%;
}

.Buttons-reasons:active {
    background-color: var(--secondary-bg);
}

.statistics-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--seventh-bg);
    text-align: center;
    gap: 50px;
    padding: 20px;
    border-radius: 50px;
}

.statistics-section h1,
.statistics-section p,
.statistics-section h2,
.statistics-section h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.statistics-section p,
.statistics-section h2,
.statistics-section h4 {
    color: #595959;
}

.statistics-section h1 {
    width: 13rem;
    border-radius: 5px;
}

.statistics-section div span {
    color: var(--third-bg);
}

.statistics-section div {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
    flex-direction: column;
}
.reveal {
    opacity: 0;
    transform: translateY(40px) scale(0.98);
   
    transition: 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
}
@media (min-width: 1024px) {
    .Buttons-reasons:hover {
        background-color: var(--secondary-bg);
    }

    .Button-primary:hover {
        background-color: var(--secondary-bg);
        color: var(--primary-bg);
        border: 1.7px solid var(--sixth-bg);
    }

    .statistics-section {

        gap: 40px;
        justify-content: center;

    }

    .Menu-logo {
        display: none;
    }

    .Links-desktop {
        display: flex;
    }

    .Button-secondary:hover {
        background-color: var(--secondary-bg);
    }

    .Menu a:hover {
        color: var(--secondary-bg);
    }

    .primary-section img {
        width: 50%;
    }

    

    .primary-section {
        flex-direction: row;
        padding: 1px;
        text-align: left;
    }

    .Cards img {
        width: 70%;

    }

    .secondary-section a:hover {
        background-color: var(--secondary-bg);
        border: 1.5px solid var(--sixth-bg);
    }

    .texts-primary-section {
        flex-direction: column;
    }

    .texts-primary-section p {
        width: 60%;
        text-align: center;
    }

    .texts-primary-section h1 {
        width: 70%;
        text-align: center;
        font-size: 50px;
    }

    .Buttons {
        display: flex;
        gap: 20px;
        flex-direction: row;
    }

    .secondary-section h1 {
        width: 50%;
        font-size: 45px;
    }

    .secondary-section div:hover {
        transform: none;
    }
    .statistics-section div {
        width: 35%;
    }
    .statistics-section {
        flex-direction: row;
        
    }
    .statistics-section h1 {
        display: none;
    }
}

